users = [
  {
    name                 = "foo"
    path                 = "/"
    force_destroy        = true
    tag_email            = "foo@domain"
    groups               = [ "Developer" ]
    console              = true
    api                  = true
    permissions_boundary = ""
  },
  {
    name                 = "bar"
    path                 = "/"
    force_destroy        = true
    tag_email            = "bar@domain"
    groups               = [ "Admin" ]
    console              = false
    api                  = true
    permissions_boundary = ""
  }
]
