users = {
  "foo" = {
    name          = "foo"
    path          = "/"
    force_destroy = true
    tag_email     = "foo@domain"
    groups        = [ "Developer" ]
    console       = true
    api           = true
  }
  "bar" = {
    name          = "bar"
    path          = "/"
    force_destroy = true
    tag_email     = "bar@domain"
    groups        = [ "Admin" ]
    console       = false
    api           = true
  }
}
